---
// src/pages/samples/index.astro
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import { ArrowRight } from 'lucide-react'

const projects = await getCollection('projects')
---

<Layout
  title="Samples"
  heroImage="/heros/value_of_life_screenshot-lossy.jpg"
  heroHeight={40}
  heroHeightMobile={25}
  primaryText="Samples"
  subText="Explore a collection of projects and samples made with the Ursina Engine."
>
  <section class="py-16 bg-background/95">
    <div class="container mx-auto px-6">
      <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {projects
          .sort((b, a) => a.data.author.localeCompare(b.data.author))
          .map((entry) => {
            const { slug } = entry
            const { title, image, description, author = 'Unknown', pubDate } =
              entry.data
            const published = new Date(pubDate).toLocaleDateString('en-US', {
              year: 'numeric',
              month: 'short',
              day: 'numeric',
            })

            return (
              <div
                id={slug}
                class="
                  flex flex-col
                  bg-background
                  dark:bg-[#1f1f1f]
                  border border-border
                  rounded-lg
                  overflow-hidden
                  hover:shadow-lg
                  transition-shadow
                "
              >
                <img
                  src={`/samples/${image}`}
                  alt={title}
                  class="h-48 w-full object-cover"
                />

                <div class="p-4 flex-1">
                  <h3 class="font-semibold text-lg mb-1 text-foreground">
                    {title}
                  </h3>
                  <p class="text-sm text-muted-foreground">{description}</p>
                </div>

                <div
                  class="
                    border-t border-border
                    px-4 py-2
                    flex items-center justify-between
                    text-xs text-muted-foreground
                  "
                >
                  <span>
                    {author} · {published}
                  </span>
                  <a
                    href={`/samples/${slug}`}
                    class="flex items-center space-x-1 hover:text-primary"
                  >
                    <span>More Details</span>
                    <ArrowRight className="h-4 w-4" />
                  </a>
                </div>
              </div>
            )
          })}
      </div>
    </div>
  </section>
</Layout>
